.add-goal-btn {
  background-color: orange;
  line-height: 20px;
  padding: 15px;
  color: white;
  cursor: pointer;
  height: 50px;
}

.add-goal-btn:hover {
  background-color: darkorange;
}

.add-goal-btn .glyphicon {
  color: white;
}

/* Styles for Add a goal overlay */
.add-goal-container {
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    width: 105%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.add-goal-form-container {
  background-color: white;
  width: 75%;
  margin: auto;
  padding: 30px;
  border: 1px solid grey;
  margin-top: 10%;
  position: relative;
}
/* remove button */
.add-goal-form-container .glyphicon-remove {
  position: absolute;
  top: 10;
  right: 10;
  color: darkgrey;
}

/* Style for goal boxes */

.goals-container {
  margin-top: 70px;
}

.goal-box {
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
  padding: 5px 20px;
  margin-bottom: 30px;
  border-radius: 0px 0px 3px 3px;
  min-height: 220px;
  position: relative;
}

/*.edit {
  background-color: white;
  border-bottom: 1px solid grey;
}*/

.icons {
  position: absolute;
  bottom: 20;
  width: 80%;
}

.icon .glyphicon-ok-sign {
  color: white;
  font-size: 10px;
}

.glyphicon {
  cursor: pointer;
}

.type-indicator {
  display: block;
  height: 20px;
  padding-left: 10px;
  color: white;
  border-radius: 3px 3px 0px 0px;
}

.personal {
  background-color: #E8175A;
  fill: #E8175A;
}

.travel {
  background-color: #FFB426;
  fill: #FFB426
}

.career {
  background-color: #2538FF;
  fill: #2538FF;
}

.project {
  background-color: #3ABC34;
  fill: #3ABC34;
}

.experience {
  background-color: purple;
  fill: purple;
}

.other {
  background-color: #CCCCCC;
  fill: #CCCCCC;
}

.pills.all {
  color: darkgrey;
}

.title {
  display: inline;
  color: #CCCCCC;
  cursor: pointer;
}

.title-container {
  margin-bottom: 30px;
}

.selected {
  color: black;
  cursor: default;
}

.hidden {
  visibility: hidden;
}

/*.complete-btn {
  color: darkgrey;
}*/

.complete-btn:hover {
  background-color: green;
  color: white;
}

/* Quote container */

.quote-container {
  background-color: #fcfcfc;
  font-size: 40px;
  padding:30px;
  border-bottom: 4px solid #f0f0f0;
}

/* Toggle buttons */

.pills {
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  display: inline-block;
  padding: 1px 4px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
}

.pills-container {
  margin-bottom: 30px;
}

/* Other ish */
.navbar {
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}

/* D3 */
.tick text {
  font-size: 12px;
}

.chart-module {
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
  padding: 5px 20px;
  margin-bottom: 30px;
  border-radius: 0px 0px 3px 3px;
  min-height: 220px;
  position: relative;
}

.active {
  fill: black;
}


